body{
    height: 100%;
    background-color: #1F2937;
}

*{
    box-sizing: border-box;
}

.bodyDiv{
    display: flex;
    flex-direction: column;
}
.logo{
    color: white;
}

.topNav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

/* Style the links inside the navigation bar */
.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topNav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topNav a.active {
    background-color: #04AA6D;
    color: white;
}


.content{
    display: flex;
    color: white;
}